<div id="<%= dom_id user %>">
  <p>
    <strong>Frist name:</strong>
    <%= user.frist_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Secret question:</strong>
    <%= user.secret_question %>
  </p>

  <p>
    <strong>Secret answer string:</strong>
    <%= user.secret_answer %>
  </p>

</div>
